
@font-face{
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.ttf);
    src: url(../fonts/Gilroy-Regular.ttf)format(ttf);
}


@font-face{
    font-family: 'Gilroy Bold';
    src: url(../fonts/Gilroy-Bold.ttf);
    src: url(../fonts/Gilroy-Bold.ttf)format(ttf);
}

@font-face{
    font-family: 'Gilroy Medium';
    src: url(../fonts/Gilroy-Medium.ttf);
    src: url(../fonts/Gilroy-Medium.ttf)format(ttf);
}