.our-clients{
    padding: 94px 0 100px;
    position: relative;
    z-index: 5;
}

.our-clients__title{
    margin-bottom: 66px;
}
.our-clients__slider{
    max-width: 1062px;
    margin: 0 auto;
}
.our-clients__slider-item{
    text-align: center;
}
.slider-item__img{
    max-width: 100%;
    margin-bottom: 40px;
}
.slider-item__title{
    font-family: Gilroy;
    font-weight: 600;
    font-size: 24px;
    color: #3D3D3D;
    margin-bottom: 25px;
}
.slider-item__subtitle{
    font-family: Gilroy;
    font-weight: normal;
    font-size: 24px;
    color: #3D3D3D;
    padding-bottom: 45px;
}
.our-clients{
    position: relative;
    .slick-arrow{
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-100%);
    }
    .slick-prev{
        left: -94px;
    }
    .slick-next{
        right: -94px;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        align-items: center;
        li + li{
            margin-left: 20px;
        }
        button{
            width: 39px;
            height: 16px;
            background-color: #eeee;
            border-radius: 20px;
            font-size: 0;
        }
        .slick-active{
            width: 72px;
            height: 16px;
            background-color: #84BD52;
            border-radius: 20px;
            button{
                background-color: transparent;
            }
        }
    }
}

@media(max-width:1290px){
    .our-clients{
        .slick-prev{
            left: 10px;
        }
        .slick-next{
            right: 10px;
        }
    }
}

@media(max-width:550px){
    .our-clients{
        .slick-arrow{
            top: 35%;
            transform: translateY(-50%);
            img{
                width: 30px;
            }
        }
    }
}